//-----------------------------------------------
// Layout and Structure
//-----------------------------------------------

body {
  background-color: #f7f7f7;
  color: #231f20;
  font-family: sans-serif;
}

a {
  color: #05a2d3;

  &:visited,
  &:active {
    color: #05a2d3;
  }
}

.site-header,
.site-navigation,
.site-footer {
  margin: 24px auto;
  text-align: center;
}

.site-header {
  .app-logo {
    width: 96px;
  }
}

.site-navigation {
  text-align: center;
}

.menu {
  margin: 0 0 16px;
  padding: 0;

  &-item {
    display: inline-block;
    margin-left: 16px;

    &-home {
      margin-left: 0;
    }
  }
}

.home-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 48px;
  max-width: 1140px;
}

.single-container {
  margin: 0 auto;
  max-width: 750px;
  padding: 48px;
}

.site-footer {
  font-size: 14px;
}
